<nav class="topbar" [ngClass]="{ 'open': menuOpen }">
  <div class="logo">Queuel</div>
  <div class="hamburger" title="Menu" (click)="toggle()">
    <app-icon name="icon_menu" width="32" height="32"></app-icon>
  </div>
  <ul (click)="toggle()">
    <li>
      <a [routerLink]="['/admin', 'configuration']">Configuration</a>
    </li>
    <li>
      <a [routerLink]="['/admin', 'kiosk']">Exterior Staff</a>
    </li>
    <li>
      <a [routerLink]="['/admin', 'event']">Interior Staff</a>
    </li>
    <li>
      <a [routerLink]="['/display']">Display</a>
    </li>
  </ul>
</nav>