.queues-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  li {
    float: left;
    width: 320px;
    height: 140px;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background: white;

    h2 {
      font-weight: normal;
      font-size: 18px;
      margin-top: 0px;
    }
  }
}