<div class="queue-container">
  <h2>{{ queue.name }}</h2>
  <div class="hide-button">
    <button (click)="hideQueueView()">hide</button>
  </div>

  <app-queue-status [status]="queue.status"></app-queue-status>
  <div class="queue-control-buttons">
    <button class="green-button" 
      (click)="nextGroup()"
      [disabled]="queue.status !== 'open'">
      <app-icon name="icon_group"></app-icon>
      Next
    </button>
    <button (click)="advanceQueue()" title="Shift queue up">
      <app-icon name="arrow_carrot-2up_alt2"></app-icon>
    </button>
    <button (click)="reverseQueue()" title="Shift queue down">
      <app-icon name="arrow_carrot-2down_alt2"></app-icon>
    </button>
  </div>

  <h3>{{ groups.length }} Groups
    <button (click)="addGroup()">Add</button>
  </h3>

  <div class="queue-groups-list"
    dnd-sortable-container
    [sortableData]="groups">
    <ng-container *ngFor="let queueGroup of groups; let i = index">
      <div
        class="queue-groups-list-item"
        [ngClass]="{ 'current-group': i === 0 }"
        dnd-sortable
        (onDropSuccess)="finishReorder(i, queueGroup)"
        [sortableIndex]="i">
        <h4 *ngIf="i === 0">Current Group</h4>
        <h4 *ngIf="i === 1">Next Group</h4>
        {{ queueGroup.group.name + (queueGroup.pending ? " (pending)" : "") }},
        {{ queueGroup.group.groupSize | i18nPlural : peopleMapping }}

        <div class="queue-groups-list-item-actions">
          <div class="sort-handle" dnd-sortable-handle title="Drag to reorder">
            <app-icon name="arrow_move"></app-icon>
          </div>
          <button (click)="startEdit(i)" title="Edit">
            <app-icon name="icon_pencil-edit"></app-icon>
          </button>
        </div>
        <div class="clear"></div>
      </div>
    </ng-container>
  </div>
</div>
<app-group-editor
  *ngIf="isEditing"
  [group]="editingGroup"
  (onFinish)="finishEdit()"></app-group-editor>